.headerContainer {
  width: 100%;

  .topSection {
    width: 100%;
    height: 40px;
    background-color: #182b49;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: #aaaaa4;

    .locationFAQ {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-evenly;

      .location {
        padding: 0px 10px;
        border-left: 1px solid #3e3e3e;
        border-right: 1px solid #3e3e3e;
        @media (max-width: 900px) {
          display: none;
        }
      }
      .faq {
        border-right: 1px solid #3e3e3e;
        padding-right: 10px;
        transition: all 0.2s ease-in;

        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }

    .socialMedia {
      margin-right: 20px;
      border-left: 1px solid #3e3e3e;
      border-right: 1px solid #3e3e3e;

      .icon {
        color: #11b67a;
        font-size: 15px;
        margin: 0px 10px;
        transition: all 0.2s ease-in;

        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }
  }

  .heroSection {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 900px) {
      justify-content: center;
    }

    .logo {
      display: flex;
      padding: 0px 20px;

      .logoText {
        text-align: center;
        padding: 0px 10px;
        h3 {
          color: #182b49;
        }
        h4 {
          color: #11b67a;
        }
        h6 {
          color: #aaaaa4;
        }
      }
    }
    .contactHeader {
      display: flex;
      margin-bottom: 20px;
      flex-wrap: wrap;
      @media (max-width: 900px) {
        justify-content: center;
        align-items: center;
      }

      .telephone {
        display: flex;
        align-items: center;
        margin-right: 20px;
        @media (max-width: 900px) {
          margin-bottom: 15px;
          margin-top: 10px;
        }
        .phoneIcon {
          font-size: 35px;
          color: #11b67a;
          margin-right: 10px;
        }
      }

      .email {
        display: flex;
        align-items: center;
        margin-right: 20px;
        @media (max-width: 900px) {
          margin-bottom: 5px;
        }
        .emailIcon {
          font-size: 35px;
          color: #11b67a;
          margin-right: 10px;
        }
      }
    }
  }
}
